/* -----------------------------------------------------------------------------

  Components - Orbit

----------------------------------------------------------------------------- */

.OrbitContainer {
  position: relative;
  flex: 1;
}

.Orbit {
  display: block;
  margin: 0 auto;
}
